<div [hidden]="!loading">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	<a class = "style_message" mat-dialog-title>Loading data, please wait...</a>
</div>

<div class = "center" id = "idDataAvailability" hidden>

</div>

<div>
<table mat-table [dataSource]="cardsMeasurement" id = "idMatTable" class="mat-elevation-z0 table_centered" matSort>
  <ng-container matColumnDef="parameter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{this.vocabService.getMeasurementName(this.data.get('name'), element.parameter.name) }}</td>
  </ng-container>

  <ng-container matColumnDef="measurement">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Measure</th>
    <td mat-cell *matCellDef="let element">
      {{ element.measurement + ' ' + this.vocabService.getMeasurementUnit(this.data.get('name'), element.parameter.name)}}
    </td>
  </ng-container>

  <ng-container matColumnDef="depth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Depth</th>
    <td mat-cell *matCellDef="let element">{{ element.depth >= 0 ? element.depth + 'm' : '' }}</td>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
    <td mat-cell *matCellDef="let element">{{ prettyFormat(element.timestamp) }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</div>

<div id = "idMatPaginator">
<mat-paginator 
  [pageSizeOptions]="[10]"
  showFirstLastButtons
  [showFirstLastButtons]="false"
  hidePageSize
  aria-label="Select page of periodic elements" 
>
</mat-paginator>
</div>
<i id = "idMessageBelow">Only measurements collected in the last week are shown.</i>
