.table-container {
  width: 100%;
  overflow-x: auto; 
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.type_cell {
  justify-content: center;
  text-align: center;
}

.position_message
{
	position: relative;
	top: -38px;
	left: 60px;
}

.style_message
{
	font-size: 110%;
}

.style_message_data_availability
{
	position: relative;
	left: 45px;
	font-size: 110%;
}

.center
{
  margin: auto;
  text-align: center;
}


.table_centered
{
	margin: 0 auto;
}

.paginator-container {
  display: flex; /* Attiva Flexbox */
  justify-content: space-between; /* Spazia gli elementi */
  align-items: center; /* Allinea verticalmente al centro */
  width: 100%;
}

.left-element {
  /* Stili opzionali per l'elemento a sinistra */
  font-family: "Roboto Mono", monospace;
  font-size: 80%;
  padding: 16px;
}

.right-paginator {
  margin-left: auto; /* Forza il paginator a destra */
}

