.chart {
  float: left;
}

.series_card_desktop {
  max-height: 400px;
  overflow-y: auto;
  width: 400px;
  float: right;
}

.series_card_mobile {
  max-height: 400px;
  overflow-y: auto;
  width: 400px;
  float: left;
}

.param-section {
  margin: 12px 0;
}

.param-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}


.desktop_font_size{

	font-size:1vw;
}

.mobile_font_size{

	font-size:2.5vw;
}
