.tg
{
	border-collapse:collapse;
	border-spacing:0;
}

.tg td
{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg th
{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg .tg-8xgw
{
	background-color:#c0c0c0;
	border-color:#333333;
	text-align:left;
	vertical-align:top
}

.tg .tg-de2y
{
	border-color:#333333;
	text-align:left;
	vertical-align:top;
}

.position_message
{
	position: relative;
	top: -38px;
	left: 60px;
}

.style_message
{
	font-size: 110%;
}

.table_centered
{
	margin: 0 auto;
}

.mat-card-content {
  max-height: 370px;
  max-width: 850px;
  overflow-y: auto;
 }